@font-face {
  font-family: 'Schopf1397-Web';
  src: url('Schopf1397-Web.eot');
  src: url('Schopf1397-Web.eot?#iefix') format('embedded-opentype'),
    url('Schopf1397-Web.woff2') format('woff2'),
    url('Schopf1397-Web.woff') format('woff'),
    url('Schopf1397-Web.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
